<section id="home-section" class="hero">
    <div class="home-slider owl-carousel">
      <div *ngIf="showFirstImage" class="slider-item" [ngStyle]="{'background-image': 'url(../../assets/images/beef.jpg)'}">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
            <div class="col-md-12 ftco-animate text-center">
              <h1 class="mb-2">We serve Fresh & Hygienic Meat</h1>
              <h2 class="subheading mb-4">We deliver organic Hygienic Meat</h2>
              <p><a href="about.html" class="btn btn-primary">View Details</a></p>
            </div>
          </div>
        </div>
      </div>
  
      <div *ngIf="showSecondImage" class="slider-item" [ngStyle]="{'background-image': 'url(../../assets/images/back.jpg)'}">
        <div class="overlay"></div>
        <div class="container">
          <div class="row slider-text justify-content-center align-items-center" data-scrollax-parent="true">
            <div class="col-sm-12 ftco-animate text-center">
              <h1 class="mb-2">100% Fresh & Organic Meat</h1>
              <h2 class="subheading mb-4">We deliver organic & Hygienic Meat</h2>
              <p><a href="about.html" class="btn btn-primary">View Details</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  