<button type="button" class="close rounded-circle bg-danger text-white" aria-label="Close" style="width: 50px; height: 50px;" (click)="goBack()">
  <span aria-hidden="true" class="fs-3">&times;</span>
</button>
<br><br>
<div *ngFor="let product of products" class="d-flex align-items-center bg-light p-3 my-2 rounded shadow-sm">
    <p class="text-dark fw-bold me-1 mb-0">Name: {{ product?.name }}</p>
    <div class="input-group mx-1" style="flex-grow: 0; width: auto;">
      <span class="input-group-text">Qty</span>
      <input #quantity type="number" class="form-control" style="max-width: 60px;" min="1" value="product.quantity" (input)="getValue(quantity.value,product)" placeholder={{product.quantity}}>
    </div>
    <p class="text-success fw-bold me-1 mb-0">Total Price: {{ product.totalPrice ? product.totalPrice : product.price }} PKR</p>
    <button type="button" class="btn btn-danger ms-auto" (click)="deleteProduct(product)"><i class="bi bi-trash-fill"></i> Delete</button>
</div>
<br>
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-success btn-lg rounded-pill shadow-lg" (click)="checkOut()"><i class="bi bi-arrow-right-circle-fill"></i> Checkout</button>
</div>
<br><br><br>